/*codigo para resetar o css de margins externas e internas*/
*, *::before,*::after{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body{
    
}

/*criando a caixa q envolve a tela de formulario*/
.content{
    width: auto
    min-height: 520px;     
    margin: 0px auto;
    margin-top: 10%;
    position: relative; 
    background-color: #98c9be;
  }

#login{
    
    position: absolute;
    top: 0px;
    width: 88%;   
    padding: 18px 6% 60px 6%;
    background: #98c9be;
    text-align: center;
}

h1{
    color: rgb(110, 106, 106);
    text-shadow: gray 5px 5px 15px;
}


.box{    
    color: grey;
    text-align: left;
    margin-left: 10%;
    margin-top: 15px;
    margin-bottom: 0px;
    font-size: 12pt;
    font-family: Arial, sans-serif;
    font-style: italic;
}

.big_box{
    width: 80%;
    height: 30px;
    margin-top: 0;
    box-shadow: rgba(0, 0, 0, 0.137) 5px 5px 5px;
    border-radius: 10px;
    
}

#manterlogado{
    FALTA CONFIGURAR
}
#tipo_login{
    color: gray;
    width: 80%;
    height: 35px;
    box-shadow: rgba(0, 0, 0, 0.082) 5px 5px 5px;
    
}

.link{
   FALTA CONFIGURAR
}
hr{
    margin-top: 15px;
    margin-bottom: 15px;
}